  .a{
    text-decoration: none;
    color : black;
  }
  #page{
    text-decoration: underline;
  }
  body{
    margin: 0;
  }
  .f-columns img{
    padding: 20px;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
  }
  .list{
    font-size:25px;
    list-style: none;
    border-right: 1px solid gray;
    width:160px;
    margin:0;
    padding:20px;
  }
  .columns{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .article{
    padding:20px;
  }
  .article img{
    display:block;margin:0px auto;
  }
  .article p{
    padding:45px;
  }
  @media(max-width:750px){
    .columns{
      display:block;
    }
    .columns ul{
      border-right:none;
    }
    .article{
      border-top: 1px solid gray;
    }
  }
